[Unit]
Description=Static performance tuning (offline)
DefaultDependencies=no
After=sysinit.target systemd-sysctl.service
Before=getty.target

[Service]
Type=oneshot
ExecStart=/root/tune.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target