[Unit]
After=sysinit.target
Before=getty.target
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/root/tune.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target